<!DOCTYPE html>
<!--
                  	作者：332065255@qq.com
                  	时间：2016-10-20
                  	描述：flv直播分析工具
                  -->
<html>
	<head>
		<meta charset="UTF-8">
		<title>实时监控FLV直播流,详细分析flv文件</title>
		<link rel="stylesheet" href="css/flv.css" />
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<style>
		</style>
		<script type="text/javascript" src="js/vue.js" ></script>
		<script type="text/javascript" src="js/LiveFlvParse.js" ></script>
		
		<script>
			var frist=false;
			function begin(){
				if(!frist)
				{
					frist=true;
					Live.init(document.getElementById("exampleInputEmail1").value,"resultTables");
					document.getElementById("button1").innerHTML="刷新";
				}
				else
				{
					window.location.reload(); 
				}
			}
			function stop(){
				Live.stop();
			}
		</script>
	</head>
	<body>
		<div class="row main">
		  <div class="col-md-9 left">
		  	<!--左边-->
		  	<div class="userEdit">
		  		<!--用户操作区
                  -->
			  	<div class="form-group">
				    <label for="exampleInputEmail1">请输入Flv直播地址    <mark>FLV直播地址需要跨域,请在flv地址之前加https://cors-anywhere.herokuapp.com/</mark></label>
				    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="https://cors-anywhere.herokuapp.com/http://123.com/1.flv" value="https://cors-anywhere.herokuapp.com/http://dvr-ws.csslcloud.net/src/AE3C4B5BCABAA3AE9C33DC5901307461.flv">
				 </div>
				 <button type="submit" class="btn btn-default" onclick="begin()" id="button1">开始分析</button>
				 <button type="submit" class="btn btn-default" onclick="stop()" id="button1">停止分析</button>
			 </div>
			 <!--<div class="resultTable">-->
			 	<!--<table class="table table-bordered" id="">
			 		<tr>
			 			<td>#</td>
			 			<td>类型</td>
			 			<td>时间戳</td>
			 			<td>编码</td>
			 			<td>帧类型</td>
			 			<td>帧大小</td>
			 			<td>详情</td>
			 		</tr>
			 	</table>-->
			 	<!--<table class="table table-bordered" id="resultTables">-->
				 	<!--<tr class="active"><td>1</td></tr>
					<tr class="success"><td>1</td></tr>
					<tr class="warning"><td>1</td></tr>
					<tr class="danger"><td>1</td></tr>
					<tr class="info"><td>1</td></tr>-->
				<!--</table>-->

			 <!--</div>-->
			 
			 <div class="resultTable" id="detailTable">
			 	<!--<table class="table table-bordered" id="">
			 		<tr>
			 			<td>#</td>
			 			<td>类型</td>
			 			<td>时间戳</td>
			 			<td>编码</td>
			 			<td>帧类型</td>
			 			<td>帧大小</td>
			 			<td>详情</td>
			 		</tr>
			 	</table>-->
			 	<table class="table table-bordered" id="resultTables">
				 	<thead>
				 		<tr>
				 			<td>#</td>
				 			<td>类型</td>
				 			<td>时间戳</td>
				 			<td>编码</td>
				 			<td>帧类型</td>
				 			<td>帧大小</td>
				 			<td>详情</td>
				 		</tr>
				 	</thead>
				 	<tbody>
				 		<!--<tr v-for="(detail,index) in details" :class="[detail.type=='video'?(detail.keytype=='KeyFrame'?'success2':'success3'):(detail.type=='script'?'active2':'info2')]">-->
				 			<tr v-for="(detail,index) in details" :class="getTrClass(index)">
				 			<td>{{index}}</td>
				 			<td>{{detail.type}}</td>
				 			<td>{{detail.time}}</td>
				 			<td>{{detail.code}}</td>
				 			<td>{{detail.keytype}}</td>
				 			<td>{{detail.framesize}}</td>
				 			<td><button v-on:click='getDetail(index)'>详情</button></td>
				 		</tr>
				 	</tbody>
				</table>

			 </div>
			 
		  </div>
		  <div class="col-md-3 right" id="detailTxt">
		  	
		  	<!--右边-->
		  	
		  </div>
		</div>
	</body>
</html>
