<!DOCTYPE html>
<!--
                  	作者：332065255@qq.com
                  	时间：2016-10-20
                  	描述：flv直播分析工具
                  -->
<html>
	<head>
		<meta charset="UTF-8">
		<title>实时监控FLV直播流,详细分析flv文件</title>
		<link rel="stylesheet" href="css/flv.css" />
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<style>
		</style>
		<script type="text/javascript" src="js/vue.js" ></script>
		<script type="text/javascript" src="js/LiveFlvParse.js" ></script>
		<script type="text/javascript" src="js/bound.js" ></script>
		
		<script>
			var frist=false;
			function begin(){
				if(!frist)
				{
					frist=true;
					Live.init(document.getElementById("exampleInputEmail1").value,"resultTables");
					document.getElementById("button1").innerHTML="刷新";
				}
				else
				{
					window.location.reload(); 
				}
			}
			function stop(){
				Live.stop();
			}
			
			
		</script>
	</head>
	<body>
		<div class="row main">
		  <div class="col-md-9 left">
		  	<!--左边-->
		  	<div class="userEdit">
		  		<!--用户操作区
                  -->
			  	<div class="form-group">
				    <label for="exampleInputEmail1">请输入Flv直播地址    <mark>FLV直播地址需要跨域,请在flv地址之前加https://cors-anywhere.herokuapp.com/</mark></label>
				    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="https://cors-anywhere.herokuapp.com/http://123.com/1.flv" value="https://cors-anywhere.herokuapp.com/http://dvr-ws.csslcloud.net/src/AE3C4B5BCABAA3AE9C33DC5901307461.flv">
				 </div>
				 <button type="submit" class="btn btn-default" onclick="begin()" id="button1">开始分析</button>
				 <button type="submit" class="btn btn-default" onclick="stop()" id="button1">停止分析</button>
			 </div>
			 <!--<div class="resultTable">-->
			 	<!--<table class="table table-bordered" id="">
			 		<tr>
			 			<td>#</td>
			 			<td>类型</td>
			 			<td>时间戳</td>
			 			<td>编码</td>
			 			<td>帧类型</td>
			 			<td>帧大小</td>
			 			<td>详情</td>
			 		</tr>
			 	</table>-->
			 	<!--<table class="table table-bordered" id="resultTables">-->
				 	<!--<tr class="active"><td>1</td></tr>
					<tr class="success"><td>1</td></tr>
					<tr class="warning"><td>1</td></tr>
					<tr class="danger"><td>1</td></tr>
					<tr class="info"><td>1</td></tr>-->
				<!--</table>-->

			 <!--</div>-->
			 
			 <div class="resultTable" id="detailTable">
			 	<!--<table class="table table-bordered" id="">
			 		<tr>
			 			<td>#</td>
			 			<td>类型</td>
			 			<td>时间戳</td>
			 			<td>编码</td>
			 			<td>帧类型</td>
			 			<td>帧大小</td>
			 			<td>详情</td>
			 		</tr>
			 	</table>-->
			 	<table class="table table-bordered" id="resultTables">
				 	<thead>
				 		<tr>
				 			<td>#</td>
				 			<td>类型</td>
				 			<td>时间戳</td>
				 			<td>编码</td>
				 			<td>帧类型</td>
				 			<td>帧大小</td>
				 			<td>详情</td>
				 		</tr>
				 	</thead>
				 	<tbody>
				 		<!--<tr v-for="(detail,index) in details" :class="[detail.type=='video'?(detail.keytype=='KeyFrame'?'success2':'success3'):(detail.type=='script'?'active2':'info2')]">-->
				 			<tr v-for="(detail,index) in details" :class="getTrClass(index)">
				 			<td>{{index}}</td>
				 			<td>{{detail.type}}</td>
				 			<td>{{detail.time}}</td>
				 			<td>{{detail.code}}</td>
				 			<td>{{detail.keytype}}</td>
				 			<td>{{detail.framesize}}</td>
				 			<td><button v-on:click='getDetail(index)'>详情</button></td>
				 		</tr>
				 	</tbody>
				</table>

			 </div>
			 
		  </div>
		  <div class="col-md-3 right" id="detailTxt">
		  	
		  	<!--右边-->
		  	
		  </div>
		</div>
	</body>
	<script>
		var dropbox=document.querySelector('body');
		dropbox.addEventListener("dragover", function(e) {
            e.stopPropagation();
            e.preventDefault();
        }, false);
        dropbox.addEventListener("drop", function(e) {
            e.stopPropagation();
            e.preventDefault();
            var reader = new FileReader();
            reader.addEventListener("load", processflv, false);
            reader.readAsArrayBuffer(e.dataTransfer.files[0]);
        }, false);

        function processflv(e) {
            var buffer = e.target.result;
            var uint8 = new Uint8Array(buffer);
            //将拖拽入的flv视频转成了2进制数组
            window.Tagarr=(flvParse.setLocFlv(uint8))//仍入转换器
//          for(var ins=0;ins<arr.length;i++){
//          		v_table.addDetail(arr[i].tagType,arr[i].getTime(),"xxx",)
//          }
			parseTags(Tagarr);
            // var flv2mp4 = new flv2fmp4();
            // flv2mp4.setflv(buffer);
            // flv2mp4.onInitSegment = onInitSegment.bind(_this);
            // flv2mp4.onMediaSegment = onMediaSegment.bind(_this);
        }
        function addArr(uint8,arr){
        		for(var i=0;i<uint8.length;i++){
        			arr.push(uint8[i]);
        		}
        }
        function parseTags(arr){
			
			for(var i=0;i<(arr.length>100?100:arr.length);i++)
			{
				var tag={};
				var bodys=[];
				bodys.push(arr[i].tagType);
				addArr(arr[i].Timestamp,bodys);
				addArr(arr[i].dataSize,bodys);
				addArr(arr[i].StreamID,bodys);
				addArr(arr[i].body,bodys);
				tag.bodys=bodys;
				arr[i].bodys2=bodys;
//				_this.testIndex+=1;
				tag.id=i;
				switch(arr[i].tagType) ///解析标签类型
				{
					case parseInt("8",16):
						tag.type="audio";
						break;
					case parseInt("9",16):
						tag.type="video";
						break;
					case parseInt("12",16):
						tag.type="script";
						break;
				}
				tag.time=arr[i].getTime();
				if(tag.type!="script")
				{
					if(tag.type=="video")
					{
//						var te=<<4
						switch(arr[i].body[0]&0x0f)
						{
							case 1:
							tag.ecode="JPEG";
							break;
							case 2:
							tag.ecode="H.263";
							break;
							case 3:
							tag.ecode="Screenvideo";
							break;
							case 4:
							tag.ecode="On2 VP6";
							break;
							case 5:
							tag.ecode="On2 VP6 alpha";
							break;
							case 6:
							tag.ecode="Screen video 2";
							break;
							case 7:
							tag.ecode="AVC/H264";
							break;
						}
					}
					else
					{
						switch(arr[i].body[0]>>4)
						{
							case 0:
								tag.ecode="Linear PCM";
								break;
								case 1:
									tag.ecode="ADPCM";
								break;
								case 2:
									tag.ecode="MP3";
								break;
								case 3:
									tag.ecode="linear PCM,little";
								break;
								case 4:
									tag.ecode="Nelly 16-khz";
								break;
								case 5:
									tag.ecode="Nelly 8-kHz";
								break;
								case 6:
									tag.ecode="Nellymoser";
								break;
								case 7:
									tag.ecode="G.711 A-law";
								break;
								case 8:
									tag.ecode="G.711 mu-law";
								break;
								case 9:
									tag.ecode="reserved";
								break;
								case 10:
									tag.ecode="AAC";
								break;
								case 14:
									tag.ecode="MP3 8-khz";
								break;
								case 15:
									tag.ecode="Device-specific";
								break;
						}
					}
				}
				else{
					tag.ecode="-";
				}
				if(tag.type=="video")
				{
					switch(arr[i].body[0]>>4)
					{
						case 1:
							tag.tagType="KeyFrame";
						break;
						case 2:
							tag.tagType="InterFrame";
						break;
						case 3:
							tag.tagType="disposaIframe";
						break;
						case 4:
							tag.tagType="gener Keyframe";
						break;
						case 5:
							tag.tagType="videoinfo";
						break;
					}
				}
				else{
					tag.tagType="-";
				}
//				table.addTr(tag);
				v_table.addDetail(tag.type,tag.time,tag.ecode,tag.tagType,tag.bodys.length)
			}
		}
        
	</script>
</html>
